<%- include ("partials/head")%>

<body>
    
    <%- include("partials/navegation")%>

    
    <div class="hero__section">
        <div class="hero__section-text">
            <h1>APROVECHA LOS MEJORES PRECIOS</h1>
            <p>Contamos con los ultimos lanzamientos y a la mejor cotizacion</p>
        </div>
        <div class="btn"><a href="">VER OFERTAS!</a></div>

    </div>
   
    <div class="bio">
        <h3>Quienes somos</h3>
        <p>TRK es una plataforma de ventas online de dispositivos moviles creada en 2021, no es una mas de las
            tiendas virtuales, vinimos a brindar comodidad y seguridad a la hora
            comprar por internet. Nuestro objetivo principal es que puedas disfrutar
            de un excelente servicio al atencion al cliente.Comprar online nunca a sido
            tan rapido y seguro.
        </p>
    </div>
    <div class="titulo">
        <p>Contamos con dispositivos de las mejores marcas</p>
    </div>
    <div class="marcas">
        <img src="./img/apple.jpg" alt="">
        <img src="./img/samsung.jpg" alt="">
        <img src="./img/lg.jpg" alt="">
        <img src="./img/motorola.jpg" alt="">
        <img src="./img/xiaomi.jpg.jpg" alt="">
    </div>
    <hr>
    <%- include("partials/footer")%>

    
</body>

</html>