<%- include ("partials/head")%>
    <%- include ("partials/navegation")%>

        <body>
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="img/celapple.jpg" class="card-img-top" alt="A Street in Europe">
                            <div class="card-body">
                                <h5 class="card-title">Iphone 11 | PRECIO: $220.000</h5>
                                <p class="card-text">Color blanco | Almacenamiento 128 GB | Tamaño de la pantalla: 6.1 |
                                    Cámara frontal principal: 12 Mpx | Cámara trasera principal: 12 Mpx</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="img/cel13pro.jpg" class="card-img-top" alt="London">
                            <div class="card-body">
                                <h5 class="card-title">Iphone 13 Pro Max | PRECIO:$380.000</h5>
                                <p class="card-text">Color grafito | Almacenamiento 128 GB | Tamaño de la pantalla: 6.7
                                    | Cámara frontal principal: 12 Mpx | Cámara trasera principal: 12 Mpx </p>
                                <div class="btn btn-primary">Comprar</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="img/celsamsung.jpg" class="card-img-top" alt="New York">
                            <div class="card-body">
                                <h5 class="card-title">Samsung Galaxy A22 | PRECIO:$44.000</h5>
                                <p class="card-text">Color mint | Almacenamiento 128 GB | Tamaño de la pantalla: 6.4 |
                                    Cámara frontal principal: 13 Mpx | Cámara trasera principal: 48 Mpx </p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="img/celumoto.jpg" class="card-img-top" alt="New York">
                            <div class="card-body">
                                <h5 class="card-title">Moto E7i Power | PRECIO:$22.000</h5>
                                <p class="card-text">Color naranja | Almacenamiento 32 GB | Tamaño de la pantalla: 6.5 |
                                    Cámara frontal principal: 5 Mpx | Cámara trasera principal: 13 Mpx</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="img/celxiaomi.jpg" class="card-img-top" alt="New York">
                            <div class="card-body">
                                <h5 class="card-title">Xiaomi Redmi Note 10s | PRECIO:$60.000</h5>
                                <p class="card-text">Color gris grafito | Almacenamiento 128 GB | Tamaño de la pantalla:
                                    6.5 | Cámara frontal principal: 8 Mpx | Cámara trasera principal: 48 Mpx</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="img/lgcel.jpg" class="card-img-top" alt="New York">
                            <div class="card-body">
                                <h5 class="card-title">LG K51S | PRECIO:$33.000</h5>
                                <p class="card-text">Color titan | Almacenamiento 64GB | Tamaño de la pantalla: 6.55 |
                                    Cámara frontal principal: 13 Mpx | Cámara trasera principal: 32 Mpx</p>
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
        <%-include("partials/footer")%>